section {
  height: 500px;
  width: 500px;
  margin-top: 40px;
  margin-right: auto;
  margin-bottom: 40px;
  margin-left: auto;
  border: 2px solid #666;
  padding: 10px;
}

@media only screen and (min-width: 850px) {
  section {
    height: 850px;
    width: 850px;
    padding: 10px;
  }
}

@media only screen and (min-width: 1200px) {
  section {
    height: 1200px;
    width: 1200px;
    padding: 10px;
  }
}

@media only screen and (min-width: 1400px) {
  section {
    height: 1400px;
    width: 1400px;
    padding: 10px;
  }
}
