:root {
  --primary-color: #0b7272;
  --action-color: #d85227;
  --text-color: #064444;
  --background-color: #fff;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Figtree", sans-serif;
  line-height: 1.6;
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

/*-- Utility Classes --*/

.container {
  max-width: 420px;
  margin: 20px 40px;
  padding: 0 20px;
  justify-self: center;
  color: var(--text-color);
}

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/*-- Navigation --*/

.primary {
  justify-items: center;
}

.primary ul {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.primary ul li a {
  text-decoration: none;
  color: var(--primary-color);
  border-bottom: 4px solid var(--primary-color);
  padding: 0.25rem;
  transition: 0.3s ease-in-out;
  font-size: 18px;
}

.primary ul li a:hover {
  border-bottom: 4px solid var(--action-color);
}

/*-- Personal Details --*/
.page-title {
  text-align: center;
  font-size: 48px;
  margin: 10px;
}

.bio {
  line-height: 1.8rem;
  color: var(--text-color);
}

.details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  border-top: 4px solid var(--primary-color);
  border-bottom: 4px solid var(--primary-color);
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.details dt {
  text-align: left;
}

.details dd {
  text-align: right;
}
