:root {
  --primary-color: #0b7272;
  --action-color: #d85227;
  --text-color: #064444;
  --background-color: #fff;
}

html {
  box-sizing: border-box;
  scroll-padding-top: 50px;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Figtree", sans-serif;
  line-height: 1.6;
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  border-radius: 10px;
}

/*-- Utility Classes --*/

.container {
  max-width: 420px;
  margin: 40px auto;
  padding: 0 20px;
  color: var(--text-color);
}

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/*-- Navigation --*/

.primary ul {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.primary ul li a {
  text-decoration: none;
  color: var(--primary-color);
  border-bottom: 4px solid var(--primary-color);
  padding: 0.25rem;
  transition: 0.3s ease-in-out;
  font-size: 18px;
}

.primary ul li a:hover {
  border-bottom: 4px solid var(--action-color);
}

/*-- Personal Details --*/
.page-title {
  text-align: center;
  font-size: 36px;
  margin: 10px;
}

.bio {
  line-height: 1.8rem;
  color: var(--text-color);
}

.details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  border-top: 4px solid var(--primary-color);
  border-bottom: 4px solid var(--primary-color);
  padding-top: 1rem;
  padding-bottom: 1rem;
  max-width: 100%;
}

.details dt {
  text-align: left;
}

.details dd {
  text-align: right;
}

.details dd a {
  color: var(--action-color);
  transition: 0.4s;
}

.details dd a:hover {
  color: var(--primary-color);
}

.related-links {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.related-links li a {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 3rem;
  transition: 0.4s ease-in-out;
}

.related-links li a:hover {
  color: var(--action-color);
}

/* -- Skills -- */
#skills {
  text-align: center;
  padding: 10px;
  overflow: hidden;
  position: relative;
}

/* Container for scrolling effect */
.scroll-container {
  width: 100%;
  overflow: hidden;
  position: relative;
  mask-image: linear-gradient(
    to right,
    transparent,
    white 15%,
    white 95%,
    transparent
  );
  -webkit-mask-image: linear-gradient(
    to right,
    transparent,
    white 15%,
    white 95%,
    transparent
  );
}

/* Scrolling list */
.scroll-list {
  display: flex;
  gap: 10px;
  list-style: none;
  padding: 0;
  margin: 0;
  white-space: nowrap;
  position: relative;
}

/* Skill items */
.skill {
  background: var(--text-color);
  color: var(--background-color);
  padding: 10px 15px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: bold;
  display: inline-block;
  white-space: nowrap;
}

/* -- Experience -- */
#experience h2 {
  text-align: center;
}

.job {
  background-color: var(--text-color);
  color: var(--background-color);
  padding: 20px 15px;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.job h3 {
  margin-bottom: 0.25rem;
  margin-top: 0;
}

.job a {
  color: #d85227;
}

/* -- Education -- */
#education h2 {
  text-align: center;
}

.certificate {
  background-color: var(--text-color);
  color: var(--background-color);
  padding: 15px 15px;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.certificate h3 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

/* -- Footer -- */
#copyright {
  text-align: center;
}

#copyright a {
  color: var(--action-color);
}
